name: 芝麻视频

on:
  workflow_dispatch:
  schedule:
     - cron: '0 2,15 * * *'
  watch:
    types: started
  repository_dispatch:
    types: flw
    
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: npm install
        run: |
          npm install
      - name: '运行 【芝麻视频】'
        run: |
          node zhima.js
        env:
          TZ: Asia/shanghai
          BARK_PUSH: ${{ secrets.BARK_PUSH }}
          ZM_zhimabody: ${{ secrets.ZM_zhimabody }}
